@import "bootstrap";
@import "animate";
@import "https://fonts.googleapis.com/css2?family=PT+Sans&display=swap";

body {
	background: url('green.jpg') no-repeat center fixed;
  background-size: cover;
  font-family: 'PT Sans', sans-serif;
}

.navbar {
	background: transparent;
}

.title {
	font-size:70px; 
	font-family: Permanent Marker, cursive;
	background: -webkit-linear-gradient(red, yellow, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.frost {
  background: #2896F7;
  border-radius: 10px;
  border: 3px solid #ccc;
  border-color: white;
}

.tools {
  background: #FADD43;
  border: 3px solid #ccc;
  border-color: #212224;
  border-radius: 0px;
}






hr {
  height: 1px;
  background: white;
  width: 75%;
}

